@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 50% 94%;
    --foreground: 210 40% 20%;

    --card: 210 50% 96%;
    --card-foreground: 210 40% 20%;
 
    --popover: 210 50% 96%;
    --popover-foreground: 210 40% 20%;
 
    --primary: 210 70% 40%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 210 40% 90%;
    --secondary-foreground: 210 30% 15%;
 
    --muted: 210 40% 90%;
    --muted-foreground: 210 25% 45%;
 
    --accent: 210 45% 88%;
    --accent-foreground: 210 30% 15%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 210 30% 80%;
    --input: 210 30% 88%;
    --ring: 210 70% 40%;
    
    --chart-1: 210 70% 45%;
    --chart-2: 210 80% 35%;
    --chart-3: 210 60% 55%;
    --chart-4: 210 90% 65%;
    --chart-5: 210 50% 65%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-sm;
  }
}

@layer components {
  .hero-bg {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1554104707-a4b67023c530?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3NDE5ODJ8MHwxfHNlYXJjaHwxfHx2aWV3JTIwZnJvbSUyMGpldCUyMHdpbmRvd3xlbnwwfHx8fDE3NzE4ODU5NzN8MA&ixlib=rb-4.1.0&q=80&w=1080');
  }

  .features-bg {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1614107028313-093557672573?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3NDE5ODJ8MHwxfHNlYXJjaHw0fHxhcmNyYWZ0JTIwY29ja3BpdHxlbnwwfHx8fDE3NzE4ODY5NTl8MA&ixlib=rb-4.1.0&q=80&w=1080');
  }
}
