@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --primary: 180 82% 45%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 220 14.3% 11.2%;
    --secondary-foreground: 210 20% 98%;
 
    --muted: 220 14.3% 11.2%;
    --muted-foreground: 220 9% 64.5%;
 
    --accent: 54 82% 65%;
    --accent-foreground: 24 9.8% 10%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 18%;
    --input: 220 13% 18%;
    --ring: 54 82% 65%;
    
    --chart-1: 195 75% 45%;
    --chart-2: 54 90% 50%;
    --chart-3: 0 72% 51%;
    --chart-4: 217 91% 60%;
    --chart-5: 280 88% 60%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-sm;
  }
}
